/* static/css/input.css */
@import "tailwindcss";

@theme {
    /* Brand */
    --color-primary: #E65100;
    --color-primary-container: #F97316;
    --color-on-primary: #FFFFFF;

    /* Surface hierarchy */
    --color-surface: #F7F9FB;
    --color-surface-container-low: #F2F4F6;
    --color-surface-container: #ECEEF0;
    --color-surface-container-lowest: #FFFFFF;

    /* Text */
    --color-on-surface: #191C1E;
    --color-on-surface-variant: #44474E;

    /* Font */
    --font-sans: 'Manrope', sans-serif;

}