<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}LGS{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
</head>

<body class="font-sans bg-surface text-on-surface">
    {% include 'partials/_navbar.html' %}
    {% include 'partials/_contact_modal.html' %}
    {% block content %}{% endblock %}
    {% include 'partials/_footer.html' %}
    <script src="{% static 'js/carousel.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/modal.js' %}"></script>
</body>

</html>